<div id="trips-create" class="page-layout carded fullwidth" dir="rtl">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    departure_board
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">الرحلات</span>
            </div>
            <!-- / APP TITLE -->

            <!-- FILTER -->
            <div class="search-wrapper mx-32 mx-md-0 fuse-white">
                <form name="dateForm" [formGroup]="dateForm">
                    <mat-form-field appearance="never" class="pr-4">
                        <div class="search mt-12" fxFlex fxLayout="row" fxLayoutAlign="center center">
                            <input matInput [matDatepicker]="datepicker" [formControl]="date" formControlName="date"
                                [attr.disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker startView="month" disabled="false">
                            </mat-datepicker>
                        </div>
                    </mat-form-field>
                </form>
            </div>
            <!-- / FILTER -->

            <div></div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" [@animate]="{value:'*',params:{delay:'100ms',y:'-25px'}}">

            <mat-horizontal-stepper linear #stepper>


                <mat-step [stepControl]="tripForm" label="الرحله">
                    <form [formGroup]="tripForm">
                        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>مستودع الخروج</mat-label>
                                <mat-select formControlName="outboundWarehouse" #outboundWarehouse required
                                    style="width: 180px;" (selectionChange)="restrictProducts($event.value); transfer1Form.reset(); transfer2Form.reset(); transfer3Form.reset();">
                                    <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
                                        {{warehouse.companyName}} - {{warehouse.warehouseName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>مستودع الخروج مطلوب</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>السائق</mat-label>
                                <mat-select formControlName="driver" #driver required style="width: 180px;">
                                    <mat-option *ngFor="let driver of drivers" [value]="driver">
                                        {{driver.firstName}} {{driver.middleName}} {{driver.lastName}} /
                                        {{driver.phoneNumber}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>السائق مطلوب</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>المركبه</mat-label>
                                <mat-select formControlName="vehicle" #vehicle required style="width: 180px;">
                                    <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
                                        {{vehicle.vehicleCode}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>المركبه مطلوبه</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>مستودع الرجوع</mat-label>
                                <mat-select formControlName="inboundWarehouse" #inboundWarehouse required
                                    style="width: 180px;">
                                    <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
                                        {{warehouse.companyName}} - {{warehouse.warehouseName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>مستودع الرجوع مطلوب</mat-error>
                            </mat-form-field>
                            <br>

                            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                                <button mat-raised-button color="accent" matStepperNext>التالى</button>
                            </div>

                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="transfer1Form" label="النقله 1">
                    <form [formGroup]="transfer1Form">
                        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>المحطه</mat-label>
                                <mat-select formControlName="station" #station required style="width: 180px;"
                                    (selectionChange)="restrictTransfer1products($event.value)">
                                    <mat-option *ngFor="let station of stations" [value]="station">
                                        {{station.stationName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>المحطة مطلوبه</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>المنتج</mat-label>
                                <mat-select formControlName="product" #product required style="width: 180px;">
                                    <mat-option *ngFor="let product of transfer1products" [value]="product">
                                        {{product.productName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>المنتج مطلوب</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4">
                                <mat-label>الكميه</mat-label>
                                <input matInput formControlName="transferredAmount" #transferredAmount required
                                    type="number" min="0">
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>الكمية مطلوبه</mat-error>
                            </mat-form-field>

                            <br>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button mat-raised-button color="accent" class="mx-16"
                                    matStepperPrevious>السابق</button>
                                <button mat-raised-button color="accent" class="mx-16" matStepperNext>التالى</button>
                            </div>

                            <br>

                            <button mat-raised-button color="warn" (click)="transfer1Form.reset()">إعاده</button>

                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="transfer2Form" label="النقله 2" [optional]="transfer2Form.pristine">
                    <form [formGroup]="transfer2Form">
                        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>المحطه</mat-label>
                                <mat-select formControlName="station" #station required style="width: 180px;"
                                    (selectionChange)="restrictTransfer2products($event.value)">
                                    <mat-option *ngFor="let station of stations" [value]="station">
                                        {{station.stationName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>المحطة مطلوبه</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>المنتج</mat-label>
                                <mat-select formControlName="product" #product required style="width: 180px;">
                                    <mat-option *ngFor="let product of transfer2products" [value]="product">
                                        {{product.productName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>المنتج مطلوب</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4">
                                <mat-label>الكميه</mat-label>
                                <input matInput formControlName="transferredAmount" #transferredAmount required
                                    type="number" min="0">
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>الكمية مطلوبه</mat-error>
                            </mat-form-field>

                            <br>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button mat-raised-button color="accent" class="mx-16"
                                    matStepperPrevious>السابق</button>
                                <button mat-raised-button color="accent" class="mx-16" matStepperNext>التالى</button>
                            </div>

                            <br>

                            <button mat-raised-button color="warn" (click)="transfer2Form.reset()">إعاده</button>

                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="transfer3Form" label="النقله 3" [optional]="transfer3Form.pristine">
                    <form [formGroup]="transfer3Form">
                        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>المحطه</mat-label>
                                <mat-select formControlName="station" #station required style="width: 180px;"
                                    (selectionChange)="restrictTransfer3products($event.value)">
                                    <mat-option *ngFor="let station of stations" [value]="station">
                                        {{station.stationName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>المحطة مطلوبه</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4 pl-4">
                                <mat-label>المنتج</mat-label>
                                <mat-select formControlName="product" #product required style="width: 180px;">
                                    <mat-option *ngFor="let product of transfer3products" [value]="product">
                                        {{product.productName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>المنتج مطلوب</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="pr-4">
                                <mat-label>الكميه</mat-label>
                                <input matInput formControlName="transferredAmount" #transferredAmount required
                                    type="number" min="0">
                                <mat-icon matSuffix class="secondary-text">departure_board</mat-icon>
                                <mat-error>الكمية مطلوبه</mat-error>
                            </mat-form-field>

                            <br>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button mat-raised-button color="accent" class="mx-16"
                                    matStepperPrevious>السابق</button>
                                <button mat-raised-button color="accent" class="mx-16" matStepperNext>التالى</button>
                            </div>

                            <br>

                            <button mat-raised-button color="warn" (click)="transfer3Form.reset()">إعاده</button>

                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="Done" label="النهايه">
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <button mat-raised-button class="green mx-16" [disabled]="tripForm.invalid"
                            (click)="createTrip(stepper)">إنشاء الرحله</button>

                    </div>
                </mat-step>

            </mat-horizontal-stepper>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>