<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <!-- <div class="logo"> -->
        <img class="logo-icon" src="assets/images/logos/Chillout_logo.png">
    <!-- </div> -->
    <!-- <div class="h2 secondary-text">Chillout</div> -->

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>