<div id="existings" class="page-layout carded fullwidth" dir="rtl">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    done_all
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">الموجودات</span>
            </div>
            <!-- / APP TITLE -->

            <!-- FILTER -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="إبحث عن إسم المحطه">
                </div>
            </div>

            <div class="datepicker-wrapper mx-32 mx-md-0 fuse-white">
                <form name="dateForm" [formGroup]="dateForm">
                    <mat-form-field appearance="never" class="pr-4">
                        <div class="datepicker mt-12" fxFlex fxLayout="row" fxLayoutAlign="center center">
                            <input matInput [matDatepicker]="datepicker" [formControl]="date" formControlName="date"
                                [attr.disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker startView="month" (closed)="retrieveCurrentExistings()"
                                disabled="false">
                            </mat-datepicker>
                        </div>
                    </mat-form-field>
                </form>
            </div>
            <!-- / FILTER -->

            <div fxLayout="row" fxLayoutAlign="center center">
                <!-- EDIT BUTTON -->
                <button mat-mini-fab class="mx-16" (click)="toggleEdit()"
                    [ngClass]="{'fuse-white': !editFlag, 'fuse-navy': editFlag}" matTooltip="تعديل">
                    <mat-icon>edit</mat-icon>
                </button>
                <!-- / EDIT BUTTON -->
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" [@animate]="{value:'*',params:{delay:'100ms',y:'-25px'}}">

            <mat-table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
                    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
                    <mat-cell *matCellDef="let station; let j  = index">
                        <p *ngIf="originalColumns[i] == 'station'">
                            {{station["stationName"]}}</p>
                        <p *ngIf="!editFlag && originalColumns[i] != 'station'"
                            [ngClass]="{'fuse-white': checkTankLimit(stations[j + (paginator.pageIndex * paginator.pageSize)], column), 'red': !checkTankLimit(stations[j + (paginator.pageIndex * paginator.pageSize)], column)}">
                            {{adjustExistingsDisplay(j + (paginator.pageIndex * paginator.pageSize), i)}}</p>
                        <p *ngIf="originalColumns[i] != 'station' && !checkProductInStation(j + (paginator.pageIndex * paginator.pageSize), i)">
                            <mat-icon>close</mat-icon>
                        </p>
                        <div *ngIf="editFlag && originalColumns[i] != 'station' && checkProductInStation(j + (paginator.pageIndex * paginator.pageSize), i)">
                            <mat-form-field floatLabel="never" appearance="outline" class="mt-20"
                                style="width: 100px !important; text-align: center;">
                                <input matInput
                                    (input)="modifyData(dataSource.filteredData[j + (paginator.pageIndex * paginator.pageSize)], column, $event.target.value)"
                                    placeholder="{{column}}" [value]="adjustExistingsDisplay(j + (paginator.pageIndex * paginator.pageSize), i)"
                                    [ngClass]="{'fuse-white': checkTankLimit(stations[j + (paginator.pageIndex * paginator.pageSize)], column), 'red': !checkTankLimit(stations[j + (paginator.pageIndex * paginator.pageSize)], column)}">
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>