<mat-table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
    <mat-cell *matCellDef="let data">
      <p>{{data[originalColumns[i]]}}</p>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="row" matRipple [routerLink]="cellLink+ row.id">
  </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[1, 5, 10, 25, 100]" [length]="length" [pageSize]="pageSize"
  (page)="setPageParams($event)"></mat-paginator>