// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";




mat-header-cell {
    display: flex;
    justify-content: center;
}

mat-cell {
    display: flex;
    justify-content: center;
}

mat-footer-cell {
    display: flex;
    justify-content: center;
}

