<div id="quotas" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    cloud
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Quotas</span>
            </div>
            <!-- / APP TITLE -->

            <!-- FILTER -->
            <div class="search-wrapper mx-32 mx-md-0 fuse-white">
                <form name="dateForm" [formGroup]="dateForm">
                    <mat-form-field appearance="never" class="pr-4">
                        <div class="search mt-12" fxFlex fxLayout="row" fxLayoutAlign="center center">
                            <input matInput [matDatepicker]="datepicker" [formControl]="date" formControlName="date"
                                [attr.disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker startView="multi-year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, datepicker)" disabled="false">
                            </mat-datepicker>
                        </div>
                    </mat-form-field>
                </form>
            </div>
            <!-- / FILTER -->

            <div fxLayout="row" fxLayoutAlign="center center">
                <!-- EDIT BUTTON -->
                <button mat-mini-fab class="mx-16" (click)="toggleEdit()"
                    [ngClass]="{'fuse-white': !editFlag, 'fuse-navy': editFlag}" matTooltip="Edit"
                    *ngIf="administratorFlag">
                    <mat-icon>edit</mat-icon>
                </button>
                <!-- / EDIT BUTTON -->
                <!--  EXPORT BUTTON -->
                <button mat-mini-fab class="mx-16 fuse-white" (click)="exportTable()" matTooltip="Export"
                    [disabled]="editFlag || dataSource.filteredData.length === 0">
                    <mat-icon>archive</mat-icon>
                </button>
                <!-- / EXPORT BUTTON -->
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" [@animate]="{value:'*',params:{delay:'100ms',y:'-25px'}}">

            <mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource"
                [@animateStagger]="{value:'50'}">

                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
                    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
                    <mat-cell *matCellDef="let warehouse; let j  = index">
                        <p *ngIf="originalColumns[i] == 'warehouse'">
                            {{warehouse["companyName"]}} - {{warehouse["warehouseName"]}}</p>
                        <p *ngIf="!editFlag && originalColumns[i] != 'warehouse'">
                            {{adjustQuotasDisplay(j,i)}}</p>
                        <p *ngIf="originalColumns[i] != 'warehouse' && !checkProductInWarehouse(j,i)">N/A</p>
                        <div *ngIf="editFlag && originalColumns[i] != 'warehouse' && checkProductInWarehouse(j,i)">
                            <mat-form-field floatLabel="never" appearance="outline" class="mt-20"
                                style="width: 100px !important;">
                                <input matInput
                                    (input)="modifyData(warehouses[j + (paginator.pageIndex * paginator.pageSize)], column, $event.target.value)"
                                    placeholder="{{column}}" [value]="adjustQuotasDisplay(j,i)">
                            </mat-form-field>
                        </div>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <p><b>{{total[i]}}</b></p>
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>